<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RunTracker{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <nav>
        <a href="/">Home</a>
        <a href="/bmi">BMI Hesapla</a>
        <li><a href="https://github.com/sbrycbc/LearnPython" target="_blank">Docs</a></li>
        
        {% if session.get('logged_in') %}
            <!-- Kullanıcı giriş yaptıysa Logout bağlantısını göster -->
            <a href="/tracker">Koşu Takibi</a>
            <a href="/logout">Çıkış Yap</a>
        {% else %}
            <!-- Kullanıcı giriş yapmadıysa Login ve Register bağlantılarını göster -->
            <a href="/login">Giriş Yap</a>
            <a href="/register">Kayıt Ol</a>
        {% endif %}
    </nav>
</header>

    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2024 RunTracker</p>
    </footer>
</body>
</html>

