<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}RunTracker{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/style.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/bmi">BMI Hesapla</a>
            <a href="/tracker">Koşu Takibi</a>
            <li><a href="https://github.com/sbrycbc/LearnPython" target="_blank">
                GitHub Repo <i class="fab fa-github"></i>
            </a></li>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>© 2024 RunTracker</p>
    </footer>
</body>
</html>

