{% extends "base.html" %}

{% block title %}Ana Sayfa{% endblock %}

{% block content %}
<div class="container">
    <!-- Sol Taraf: Hero Bölümü -->
    <div class="left-section">
        <div class="hero">
            <h1>Hoşgeldiniz!</h1>
            <p>Sağlikli yaşam ve koşu hedeflerinize ulaşmak için doğru adrestesiniz!<br>
            Sadece bir adım atmanız yeterli 🏃‍♂️🏃‍♂️</p>
            <h2>Sonrasinda...</h2>
            <p>Hedeflerinizi ve antrenmanlarınızı düzenli olarak <br>
            Koşu takibi sayfasından takip edebilirsiniz! <br>
            Her adımda ne kadar çok geliştiğinizi görebilirsiniz🌟</br>
            Vücut Kitle İndeksinizi BMI Hesapla sayfasindan hesaplayın </br>
            Sağlıklı Hedeflere Ulaşın🍀
            </p>
            <span>Hadi başlayalım🎶</span>
        </div>
    </div>

    <!-- Sağ Taraf: Hava Durumu ve Performans Bölümü -->
    <div class="right-section">
        <div class="weather-section">
            <h3>Bugün dışarıda koşmak için mükemmel bir gün olabilir.</br>
                 Hadi öğrenelim ve dışarı çıkalım!</h3>
            <!-- Hava durumu sayfasına yönlendirme butonu -->
            <a href="/weather">
                <i class="fas fa-cloud-sun" style="font-size: 20px; margin-right: 10px;"></i> 
            </a>
        </div>

        <div class="performance-section" style="margin-top: 40px;">
            <h3>Koşu Performansınızı Görmek İçin:</h3>
            <!-- Performans sayfasına yönlendirme butonu -->
            <a href="/performance">
                <i class="fas fa-running" style="font-size: 20px; margin-right: 10px;"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}







