{% extends "base.html" %}

{% block title %}Kosu Takibi{% endblock %}

{% block content %}
<div class="info">
  <h1>Koşu Takibi</h1>
  <p>RunTracker ile hedeflerinizi takip edin ve ilerlemenizi görmek için motivasyonunuzu koruyun.</br>
    Hedeflerinize ulaşmak hiç bu kadar kolay olmamıştı. Her adımda sizi destekliyoruz.</br>
    Koşu antrenmanlarınıza dair her şeyi burada takip edebilirsiniz.</br>
    Başarı için ilk adımı atın!</br>
  </p>
</div>

<form method="POST">
    <label for="distance">Mesafe (km):</label>
    <input type="number" id="distance" name="distance" required>
    <label for="duration">Süre (dakika):</label>
    <input type="number" id="duration" name="duration" required>
    <label for="calories">Yakilan Kalori:</label>
    <input type="number" id="calories" name="calories" required>
    <button type="submit">Gönder</button>
</form>

{% if distance %}
<div class="sonuc">
    <p>
        *** Bugünkü Kosunuzun Özeti *** </br> 
    - Koştuğunuz Mesafe: {{ distance }} km </br>
    - Koşu Süresi: {{ duration }} dakika </br>
    - Hiziniz: {{ speed }} km/saat 
    </p>
    <span>
    {{ motivation }}
    </span>
   
</div>

   <!-- Performans Özetine Yönlendirme Butonu -->
<div class="performans">
    <a href="/performance">Tüm Kosu Özetlerin Burada</a>
</div>
{% endif %}
{% endblock %}