{% extends "base.html" %}

{% block title %}Kosu Takibi{% endblock %}

{% block content %}
<h1>Koşu Takibi</h1>
<form method="POST">
    <label for="distance">Mesafe (km):</label>
    <input type="number" id="distance" name="distance" required>
    <label for="duration">Süre (dakika):</label>
    <input type="number" id="duration" name="duration" required>
    <label for="calories">Yakilan Kalori:</label>
    <input type="number" id="calories" name="calories" required>
    <button type="submit">Gönder</button>
</form>

{% if distance %}
    <p>Koştuğunuz Mesafe: {{ distance }} km</p>
    <p>Koşu Süresi: {{ duration }} dakika</p>
    <p>Hiziniz: {{ speed }} km/saat</p>
    <p>Motivasyon: {{ motivation }}</p>
{% endif %}
{% endblock %}
